{% extends 'templates/main_base.html' %}
{% load static %}

{% block title %}Add Video File{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
{% block content %}

    
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 breadcrumb-wrapper mb-4"><span class="text-muted fw-light">Project /</span> Filter</h4>
  <div class="row mb-8">
      <!-- Browser Default -->
      <div class="col-md mb-7 mb-md-0">
      <div class="card">
          <h5 class="card-header">video upload</h5>
          
            <form class="browser-default-validation" id="VideoUpload" method="post" enctype="multipart/form-data">
              <fieldset>
                {% csrf_token %}
                
                <div class="mb-5">  
                    <label class="form-label" for="basic-default-company">company</label>
                
                    <select class="form-select CompanyName" id="basic-default-company" name="CompanyName">
                      {% for comp in all_comp  %}
                        <option selected="" value="{{comp.id}}" data-icon="bx bxl-codepen">{{comp.name}}</option>
                      {% endfor %}
                  
                    </select>
                </div>
                <div class="mb-8">
                    <label class="form-label" for="basic-default-project">project</label>
                    <select class="form-select ProjectName" id="basic-default-project" name="ProjectName" ></select>
                  
                </div>
                  
                <div class="mb-1">
                    <label class="form-label" for="basic-default-location">location</label>
                    <select class="form-select  StationName" id="basic-default-location"  name="StationName" ></select>
                  
                </div>
                  
                <div class="mb-3">
                  <label class="form-label CameraNo" for="basic-default-CameraNo" name="CameraNo">CameraNo</label>
                  <input
                      name="CameraNo"
                      type="text"
                      id="CameraNo"
                      class="form-control"
                      
                      
                  />
                </div>
                <div class="mb-5">  
                  <label class="form-label" for="basic-default-cModel">CameraModel</label>
              
                  <select class="form-select CModel" id="basic-default-cModel" name="CModel">
                    {% for cModel in all_cameraMod  %}
                      <option selected="" value="{{cModel.id}}" data-icon="bx bxl-codepen">{{cModel.name}}</option>
                    {% endfor %}
                
                  </select>
                </div>
                             
              
                <div class="mb-3">
                  <label class="form-label" for="basic-default-CHeight">Camera Height</label>
                  <input
                      type="text"
                      id="CHeight"
                      name="CHeight"
                      class="form-control"
                      placeholder=""
                      required
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="basic-default-CView">Camera View</label>
                  <input
                      type="text"
                      id="CView"
                      name="CView"
                      class="form-control"
                      placeholder=""
                      required
                  />
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="basic-default-VideoStartTime">video Start Time(HH:MM)</label>
                    <input
                        type="text"
                        id="VideoStartTime"
                        name="VideoStartTime"
                        class="form-control"
                        placeholder=""
                        required
                    />
                </div>
                <div class="mb-3">
                      <label class="form-label" for="basic-default-VideoEndTime">Video End Time(HH:MM)</label>
                      <input
                          type="text"
                          id="VideoEndTime"
                          name="VideoEndTime"
                          class="form-control"
                          placeholder=""
                          required
                      />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="basic-default-LICate">Light Intensity</label>
                    <select class="form-select  LICate" id="basic-default-LICate"  name="LICate" >
                      {% for cate in all_li %}
                        <option selected="" value="{{cate.id}}" data-icon="bx bxl-codepen">{{cate.LItype}}</option>
                      {%endfor%}
                    
              
                    </select>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="basic-default-VideoFormat">Video File Format</label>
                  <select class="form-select  VideoFormat" id="basic-default-VideoFormat"  name="VideoFormat" >
                    {% for vff in all_vff %}
                      <option selected="" value="{{vff.id}}" data-icon="bx bxl-codepen">{{vff.vtype}}</option>
                    {%endfor%}
                  
            
                  </select>
                </div> 
                
              
              <div class="mb-3">
                  <label class="form-label" for="basic-default-FileName">FileName</label>
                  <input
                    type="text"
                    id="FileName"
                    name="FileName"
                    class="form-control"
                    placeholder=""
                    required
                  />
                
              </div>
              <div class="mb-3">
                 
                  
                    <label class="form-label" name="VideoFile" for="VideoFile">VideoFile</label>
                    <input type="file" id="VideoFile" name="VideoFile" class="form-control"  required/>
                  
                  
              </div> 
              
              <div class="mb-3">
                  <label class="form-label" for="basic-default-Remarks">Remarks</label>
                  <input
                    type="text"
                    id="Remarks"
                    name="Remarks"
                    class="form-control"
                    placeholder=""
                    required
                  />
              </div>
              <div class="mb-3">
                
                <input
                  type="text"
                  id="RejectedReason"
                  name="RejectedReason"
                  class="form-control"
                  value="NA"   
                  hidden="True"              
                />
                </div>
              <div class="mb-3">
                <input type="hidden" id="videostatus" name="videostatus" value="New">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <input type="button"  class="btn btn-secondary" value="reset" id="resetBtn" onClick="this.form.reset()" />
            </fieldset>  
            </form>
           
          </div>
      </div>
      
  </div>
</div>

{%endblock%}
<!-- script tag -->
{% block script %}


<script>

 // basic-default-company
 console.log('$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$')
    //   Select company
 $('#basic-default-company').on('click', function (e) {
 
        var optionSelected = $("option:selected", this);
        var id = this.value;
       
        if (id != ''){
          $.ajax({
            url: "{% url 'get_projects' %}",
            method: 'get',
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function(data){
              console.log(data)
              if(1){
                var txt =  '<select class="form-select" id="basic-default-project" ><option selected="" disabled>...</option>'
           
                  data.data.forEach(function(item){

                  txt += '<option  value='+ item.id +'><a href=1>'+ item.name +'</a></option>'
                });
                
                
                txt += '</select>'
                $('#basic-default-project').html(txt)
               
                // txt += '</div>'
                // $('#list_camera').html(txt)
                
                // $('html,body').animate({scrollTop:distance},500);
              }
            }
          })
  
        }
        
    });

     //   Select project
 $('#basic-default-project').on('change', function (e) {
        
        var optionSelected = $("option:selected", this);
        var id = this.value;
        console.log('$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$', id)
        if (id != ''){
          $.ajax({
            url: "{% url 'get_stations' %}",
            method: 'get',
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function(data){
              if(1){
                var txt =  '<select class="form-select" id="basic-default-location" ><option selected="" disabled>...</option>'
           
                  data.data.forEach(function(item){

                  txt += '<option  value='+ item.id +'><a href=1>'+ item.name +'</a></option>'
                });
                txt += '</select>'
                $('#basic-default-location').html(txt)
               
                // txt += '</div>'
                // $('#list_camera').html(txt)
                
                // $('html,body').animate({scrollTop:distance},500);
              }
            }
          })
  
        }
        
    });
  $('#basic-default-company').on('change', function (e) {
 
    var optionSelected = $("option:selected", this);
    var id = this.value;
    if (id != ''){
          $.ajax({
           
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function(data){
              console.log(data)}
            })
          }

  });

  $('#basic-default-LICate').on('change', function (e) {
 
 var optionSelected = $("option:selected", this);
 var id = this.value;
 if (id != ''){
       $.ajax({
        
         data: {
             'id':id,
         },
         dataType: 'json',
         success: function(data){
           console.log(data)}
         })
       }

});
$('#basic-default-VideoFormat').on('change', function (e) {
 
 var optionSelected = $("option:selected", this);
 var id = this.value;
 if (id != ''){
       $.ajax({
        
         data: {
             'id':id,
         },
         dataType: 'json',
         success: function(data){
           console.log(data)}
         })
       }

});
</script>
{% endblock %}
