
{% extends 'templates/main_base.html' %}

{% load static %}

{% block title %} Company Info Update{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

<script javascript>


</script>


{% block content %}

<div class="container">
    <h1>Videos List</h1>
    {% csrf_token %}
    
    <div class="row" > 
      <div class="col-md-8">
        
        {% if all_Videos  %}
        <table id="videosTable" name="videosTable" class="table table-striped">
          <thead>
            <tr>
              <th>CompanyName</th>
              <th>ProjectName</th>
              <th>StationName</th>
              <th>CameraNo</th>
              <th>CModel</th>
              <th>CHeight</th>
              <th>VideoStartTime</th>
              <th>VideoEndime</th>
              <th>LICate</th>
              <th>VideoFormat</th>
             
              <th>FileName</th>
              <th>VideoFile</th>
              <th>Remarks</th>
              <th>videostatus</th>
              <th>Rejected Reason</th>
              <th>Action</th>              
              <!-- <th>Save</th> -->
              
            </tr>
          </thead>
          <tbody>
            
            {% for video in all_Videos %}
            <form name="Videoform" id="{{id}}">
              <tr name="videolist" id="{{video.id}}">
                
                <td class="companyName videoData" name="CompanyName">{{video.CompanyName}}</td>
                <td class="ProjectName videoData" name="ProjectName">{{video.ProjectName}}</td>
                <td class="StationName videoData" name="StationName">{{video.StationName}}</td>
                
                <td class="CameraNo videoData" name="CameraNo">{{video.CameraNo}}</td>
                <td class="CModel videoData" name="CModel">{{video.CModel}}</td>
                <td class="CHeight videoData" name="CHeight">{{video.CHeight}}</td>
                
                <td class="VideoStartTime videoData" name="VideoStartTime">{{video.VideoStartTime}}</td>
                <td class="VideoEndTime videoData" name="VideoEndTime">{{video.VideoEndTime}}</td>
                <td class="LICate videoData" name="LICate">{{video.LICate}}</td>
                <td class="VideoFormat videoData" name="VideoFormat">{{video.VideoFormat}}</td>
                
                
                
                <td class="FileName videoData" name="FileName">{{video.FileName}}</td>
                <td class="VideoFile videoData" name="VideoFile"> 
                  <video autoplay="autoplay" controls muted  width:"100px" height="100px"> <source src= "{{DRIVE}}{{video.VideoFile}}"/> </video> </td>
                
                <td class="Remarks videoData" name="Remarks">{{video.Remarks}}</td>
                 
                <td class="videostatus videoData" name="videostatus"> {{video.videostatus}}</td>
               
                <td> 
                <input type="text"  class= "RejectedReason videoData" label="Rejection Reason" name="RejectedReason" value="" id= "RejectedReason" />
                </td>
               
                <td class="radio-check videoData">
                  <div class="radio-check videoData">
                    <input class="radio-check-input Approval" type="radio" name="Approval"  id= "Approved" value="Approved" >
                    <label class="radio-check-label" for="Approved">Approve</label>
                  </div>
                  <div class="radio-check videoData">
                    <input class="radio-check-input Approval" type="radio" name="Approval" id= "Rejected" value="Rejected"/> 
                   
                    <label class="radio-check-label" for="Rejected">Reject</label>
                  </div>
                 
                </td>
               
                              
              </tr>

            </form>
            {% endfor %}  
         
          </tbody>
 
        </table>
        
        {% else %}
          <span> No videos available for approval</span> 
        {% endif %}
      </div>
    </div>
    
  </div>
  {%endblock%}

  {% block script %}
 
  <script javascript >

    
    
  </script>

<script>

 $(".Approval").click(function() {   
    var rowid = $(this).closest("tr").attr('id'); 
    console.log("rowid",rowid);

    var $childval = $(this).attr('id'); 
    var $childval2 = $(this).closest("tr").find("td:nth-child(17)"); 
    var childval3 = $(this).closest("tr").find("td:nth-child(18)"); 

    var rejectreason=childval3.find("input").val()
    text_field = document.getElementById("RejectedReason_" + rowid)

    

    var currentrowid = $(this).closest("tr");
    var radioselected=currentrowid.find("td:eq(19)").is(":checked");

    console.log('$childval -- radioselected ---',$childval , '----',radioselected)

    if ($childval=="Approved") 
    
    {
      console.log('Approved selection',$childval);
      var approverowid = $(this).closest("tr").attr('id'); 
      console.log("ROWID INSIDE APPROVAL",approverowid);
      $childval2.text($childval)
      $childval2.css("color", "green");
      $childval2.css("font-size", "200%");
        $.ajax({
                    url: "{%url 'ApproveRejectVideos' %}",
                    method: 'POST',
                    
                    data: {
                        'id':approverowid,
                        'videostatus':$childval2.text(),
                       
                        'csrfmiddlewaretoken':'{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function(data){
                      console.log(data)
                      if(1){  }
                    }
              });
    }
    if ($childval=="Rejected") 
    {
       console.log('Rejected record',$childval)
         
      if (rejectreason =='' ) 
      {
        console.log('inside else part - reject reason is blank : --- : ' , $childval)
        
        alert("Please enter Rejected Reason, then select  Reject")
        resetcheckbox=false
               
        // currentrowid.find("td:eq(19)").select(":unchecked")
        // currentrowid.find("td:eq(19)").is(":checked");
        // $('#'+table).find('tr#'+rowId).find('td:eq(colNum)').html(newValue);

      }
      if (rejectreason !='' ) 
      {
        var rowid1 = $(this).closest("tr").attr('id'); 
        console.log("ROWID INSIDE REJECTION",rowid1)
        console.log('Rejection with remarks',rejectreason)
        $childval2.text($childval)
        $childval2.css("color", "red");
        $childval2.css("font-size", "200%");
        $.ajax({
                    url: "{%url 'ApproveRejectVideos' %}",
                    method: 'POST',
                    
                    data: {
                        'id':rowid1,
                        'videostatus':$childval2.text(),
                        'RejectedReason':rejectreason,
                        'csrfmiddlewaretoken':'{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function(data){
                      console.log(data)
                      if(1){  }
                    }
                  });
      } 
      
    
   }
  } )

// function remarkFunction(){
//   var rowid = $(this).closest("tr").attr('id'); 
//     console.log("rowid",rowid);
//     var $childval = $(this).attr('id');
//     var childval3 = $(this).closest("tr").find("td:nth-child(18)");
//     var rejectreason=childval3.find("input").val()
//     $.ajax({
//               url: "{%url 'ApproveRejectVideos' %}",
//               method: 'POST',
              
//               data: {
//                   'id':rowid1,
//                   'videostatus':$childval2.text(),
//                   'RejectedReason':childval3.text(),
//                   'csrfmiddlewaretoken':'{{ csrf_token }}'
//               },
//               dataType: 'json',
//               success: function(data){
//                 console.log(data)
//                 if(1){  }
//               }
//             }); 
   

//   var x = document.getElementById("RejectionReason");
//   x.value = x.value.toUpperCase();
//   console.log("xvalue",x.value)
// }


</script>


  
{% endblock %}
