{% extends 'templates/main_base.html' %}
{% load static %}

{% block title %}View Camera Model List{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
{% block content %}
<div class="container">
    <h1>Camera Model List</h1>

    <div class="row" > 
      <div class="col-md-8">
        <h3>Existing Camera Model</h3>
        {% if all_cModels  %}
        <table id="CameraModelTable" class="table table-striped">
          <thead>
            <tr>
              <th>ModelName</th>

            </tr>
          </thead>
          <tbody>
          
            {% for cModel in all_cModels %}
              <tr id="cModel-{{cModel.id}}">
                <td class="cModelName cModelData" name="name">{{cModel.name}}</td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <span> No Camera Models available </span> 
        {% endif %}
      </div>
    </div>
    
  </div>
  {%endblock%}

 