{% extends 'templates/main_base.html' %}
{% load static %}

{% block title %}Update Video formats{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
{% block content %}

<div class="container">

  <form method="POST" action=""> 
    <fieldset>
        <legend>Vdieo File format List</legend>
        {% csrf_token %} 
         
        <div class="row" > 
          <div class="col-md-8">
            <h3>Existing Video file formats</h3>
            {% if all_vff  %}
            <table id="RoleTable" class="table table-striped" >
              <thead>
                <tr>
                  <th>VideoFormat</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody >
                {% for vff in all_vff %}
                  <tr id="vff-{{vff.id}}">
                  <td class="vfftype vffData" name="vtype">{{vff.vtype}}</td>                 
                  <td > <a href="{% url 'UpdateVideoFormat' vff.id%}"> Edit </a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
       
        {% else %}
          <span> No video file formats defined </span> 
        {% endif %}
      </div>
    </div>
  </fieldset>
  </form>
  </div>
  {%endblock%}

 
