{% extends 'templates/main_base.html' %}
{% load static %}

{% block title %}Profile Update {% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
{% block content %}

<form method="POST" action="" class="as_t"> 
  {% csrf_token %} 
  
  
   {{ form }} 

   <button type="submit" class="btn btn-primary">Submit</button>
   <input type="button" value="reset" class="btn btn-secondary" id="resetBtn" onClick="this.form.reset()" />
</form> 
  {%endblock%}

 
