{% extends 'templates/main_base.html' %}
{% load static %}

{% block title %}Project Update {% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
{% block content %}
<h1>Project Update </h1>
<div class="container">
  
  <form method="POST" class="my-form">
<fieldset>
  
  {% csrf_token %}
  <div class="form-group">
    {{ form.company.label_tag }}<br>
  <br>  {{ form.company }}
  </div>
  <div class="form-group">
    {{ form.name.label_tag }}
  <br>  {{ form.name }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <input type="button" value="reset" class="btn btn-secondary" id="resetBtn" onClick="this.form.reset()" />
</fieldset>
</form>
<style>
  .my-form {
    margin-top: 60px;
    text-align: left;
    display: flex;
  }
  .form-group {
    margin-bottom: 40px;
  }
  
  .form-group input {
    width: 50%;
    padding: 6px 12px;
    margin: 18px 0;
    box-sizing: border-box;
  }
</style>
  {%endblock%}

 
