{% extends 'templates/main_base.html' %}
{% load static %}

{% block title %}Add  test file {% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>


{% block content %}   
<div class="container">
  
    <form method="POST" enctype="multipart/form-data">
      <fieldset>
        <legend>New video file formats to be added</legend>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="button" value="Cancel" id="resetBtn" onClick="this.form.reset()" />
      </fieldset>
    </form>
</div>
    
{% endblock %}
