{% extends 'templates/main_base.html' %}
{% load static %}

{% block title %} Work in Progress{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

{% block content %}


    {% if images %}
    {% for image in images %}
        <img src="{{ MEDIA_URL }}images/{{ image }}" alt="{{ image }}">
    {% endfor %}
    {% else %}
    <img src="/media/images/workinprogress.png" >
    {% endif %}

{%  endblock %}