{% extends "main_base.html" %}

{% block content %}  
   
        <div class="container">

          <!--Simple Form-->
          <h2 class="my-4">Add a new movie poster</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <input type="file" name="upload" accept="image/*">
                <br>
                <button class="btn btn-dark my-4" type="submit">Submit</button>
          </form>

          <!--See Image Uploaded-->
          <h2 class="my-4">Movie Poster</h2>
          <div class="row">
            {% if file_url %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
			  <p>{{img_save_path}}</p>
			  <p>{{file_url}}</p>
              <img src="{{img_save_path}}" class="img-fluid">
              <br>
              <a class="btn btn-dark my-4" href="/">Return to Homepage</a>
            {% else %}
            <p>No movies posters added.</p>
            {% endif %}
          </div>

        </div>
    

{% endblock %}